@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.frame22-content1{
    font-family: 'Caudex',sans-serif;
    position:absolute;
    background-color: antiquewhite;
}
.mdb-footer {
    height: auto !important;
    min-height: unset !important;
    margin-bottom:30px;
  }
  
  @media (max-width: 768px) {
    .mdb-footer {
        margin-bottom: 20px; /* Adjust bottom margin for smaller screens */
    }
}

/* Media query for extra small screens (e.g., mobile phones) */
@media (max-width: 576px) {
    .mdb-footer {
        margin-bottom: 650px; /* Further reduce bottom margin for mobile */
    }
}
